
.jumbotron {
    background-image: url("https://www.audi.fr/content/dam/nemo/fr/Teasers-Homepage/2019/1920x600/1920x600_Audi_FR_HP_Q5_TFSI_e.jpg?output-format=webp&downsize=1439px:*");

    height:435px;
}

#main button {
    position: relative;
    right: -20%;
}
#main .btn {
    padding: 15px;
    border-radius: 2px;
}


#intro {
    position: relative;
    bottom: 40px;
    right: -13%;
    color: white;
}

#modeles:hover {
    
    text-decoration-line: underline;
  }

#redouanecard .card  {
    color: black;
    border-color: white;
    transition: .5s;
}

#redouanecard .voitures {
   
    transition: .5s;
}

#redouanecard .card:hover {
  transform: scale(1.1);
  text-decoration-line: underline;
}

#redouanecard .voitures:hover {
    transform: scale(1.1);
    text-decoration-line: underline;
    
  }







.card {
    margin-left:-20px;;
    color: white;
    border-radius: 1px;
    margin-bottom:5px;
}

#card1 {
    background-image: url("https://www.dbf-autos.fr/wp-content/uploads/35701189_10155990627339262_3746252474810368000_n.jpg");
    background-position: center;
}

.card .btn {
    background: transparent;
    color: white;
    padding: 15px;
    border-radius: 1px;
    border-color: white;

}
#card1 .btn , #card2 .btn , #card4 .btn  {
    position: absolute;
    bottom: 40px;
    left: 30px;
    padding: 16px 60px 16px 60px;
    border-radius: 1px;
    border-color: white;
}

#card2 {
    background-image: url("http://marocar-agency.com/en/wp-content/uploads/2018/09/location-voiture-audi-q7-maroc.jpg");
}

#card3 {
    background-image: url("https://www.audi.at/media/TextImage_ImageEnlarge_Component/45093-365475-280236-442837-image/dh-960-d8ec43/95e2efa5/1540461657/1920x1080-0000-aca-161002-1-oe.jpg");
    background-position: 35% 65%;
    color: black;
    background-size: 600px 30rem;

}

#card3 .btn {
    border-color: black;
    color: black;
    position: absolute;
    bottom: 40px;
    left: 30px;
    padding: 15px;
    border-radius: 1px

}


#card4 {
    background-image: url("https://www.largus.fr/images/images/audi-a7-sportback-2018-6-_1.jpg");
    color: black;
    background-position: center;
    background-size: cover;
}

#cards2 .card , #cards3 .card  {
    color: black;
    padding-left: 5px;
}


#cards3 .card {
    background-color: #F2F2F2;
    border-color:white;
}





.meteo{  
    background-color: #F2F2F2;
    border-color: #F2F2F2; 
}
.button{
    background-color: black;
border-color: black;
}

 #footer {
     display:flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     background-color: rgb(201, 196, 196);
     padding: 50px;
     
 }

 #footer li {
     list-style: none;
     margin-top: 10px;
 }

#footer .item {
    margin: 10px;
}

#footer2 {
    background-color: rgb(78, 78, 78);
    height: 500px;
    color: white;
}

#footer2 #container {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 100px;
    
}
